        #p4 {
            width: 500px;
            text-align: justify, 2em;
        }
        
        #p2 {
            width: 500px;
            text-align: right;
        }
        
        main {
            width: 500px;
            margin: 50px auto;
            padding: 85px 40px 85px 40px;
            border: solid 1px black;
            box-shadow: 0 0 15px;
            font-family: 'Bitter', serif;
        }
        
        #p3 {
            width: 500px;
            text-align: center;
        }
        
        .div {
            display: flex;
            justify-content: space-between;
        }
        
        footer {
            width: 500px;
            text-align: right;
            background-position: top left
        }